body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(161, 150, 212); /* Jasnoszary kolor tła */
    margin: 0;
    display: flex;
    flex-direction: column; /* Ustawienie kierunku flexa na kolumnę */
    align-items: center;
    height: 100vh;
}

.header-container {
    display: block;
    background-color: #1d2159; /* Granatowy kolor tła nagłówka */
    padding: 20px;
    text-align: center;
    color: #fff; /* Biały kolor tekstu nagłówka */
    border-radius: 12px;
    margin-bottom: 5%;
}

h1 {
    margin: 5%;
}

#quiz-container {
    background-color: rgba(29, 33, 89, 0.9); /* Przezroczysty granatowy kolor tła quizu */
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
    text-align: center;
    color: #fff; /* Biały kolor tekstu */
}

#pytanie {
    margin-top: 20px; /* Dodatkowy odstęp od nagłówka */
    margin-bottom: 30px;
}

label {
    font-size: 20px;
    margin-bottom: 15px;
    display: block;
}

button {
    background-color: #b71c1c; /* Bordowy kolor przycisków */
    color: #fff;
    padding: 12px 24px;
    font-size: 18px;
    margin: 8px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

button:hover {
    background-color: #8c1414; /* Bordowy kolor przycisków po najechaniu myszką */
}

button:active {
    background-color: #5a0b0b; /* Bordowy kolor przycisków po naciśnięciu */
}
p{
    font-size:20px;
    font-weight: bold;
}

#powrot{
    text-align: left;
    color:rgb(182, 10, 10);
    text-decoration: none;
    font-size:20px;
    margin-top: 5%;
}
#powrot a{
    color:rgb(182, 10, 10);
    text-decoration: none;
    font-size:20px;
}
a:hover{
    background-color: rgb(44, 43, 69);
    color: #ff0000;
}